body, html{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 27px 38px;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

.home-bg{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #654520), url(../asset/Pizza-3007395.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}
.home-bg b{
    font-size: 100px;
    -webkit-text-stroke: 1px black;
}
.flex-section{
    background-color: #825B32;
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 5px solid black;
}
.flex-section section{
    margin:10px;
    flex: 1;
    background-color: white;
    border-radius: 5%;
    margin: 50px;
}

